body{
    font-family: sans-serif;
}
#this{
    background-color: black;
    margin: -1vh;
    margin-bottom: 4vh;
    padding-left: 2vw;
    padding-top: 1px;
    padding-bottom: 1px;
    color:white;
    font-size: 4vh;
}
.formT1{
    background-color: aquamarine;
    padding: 30px;
    border-radius: 10px;
}
.flex{
    display: flex;
}
.idEdi{
    margin-top: 1vh;
    font-size: 2.1vh;
    width: 8vw;
    margin-left: 2vw;
    height: 3vh;
}
.left{
    width: 45%;
    padding-right: 2vw;
}
.ligado{
    margin-bottom: 0;
}
.largo{
    width: 95%;
    font-size: 2vh;
}
.datos{
    justify-content: space-between;
    padding-right: 5%;
}
.select1{
    font-size: 2.1vh;
    width: 10vw;
}
.select2{
    font-size: 2.1vh;
    width: 3vw;
}
.agregarbt{
    margin-top: 3vh;
    font-size: 2vh;
}
.descipcion1{
    width: 50vw;
    height: 22vh;
    font-size: 2.2vh;
}
#buscar{
    background-color: aquamarine;
    padding: 30px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 15px;
}
.eleccion{
    transform: scale(1.5);
}
#porId{
    font-size: 2vh;
    width: 8vw;
}
#porNom{
    font-size: 2vh;
    width: 48vw;
}
#laImagen{
    width: 30vh;
    height: 30vh;
}
#eliminar{
    font-size: 2vh;
    margin-top: 1vh;
    margin-right: 1vw;
}
#btbuscar{
    font-size: 2vh;
    margin-top: 1vh;
}
#bts{
    justify-content: space-between;
}
.sorry{
    background-color: silver;
    padding: 1vh;
    font-size: 2.5vh;  
    width: 93.2vw;
    border-radius: 15px;
}
#lista{
    font-size: 4vh;
    background-color: black;
    color: white;
    border: 5px solid black;
    padding-left: 1vw;
    margin-left: -0.5vw;
    margin-right: -0.5vw;
}
.producto{  
    display: flex;
    background-color: silver;    
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    border-radius: 15px;
}
img{
    width: 26vh;
    height: 26vh;
}
.data{
    margin-left: 40px;
    margin-right: 40px;
    width: 130vw;
}