#this{
    background-color: black;
    margin: -1vh;
    margin-bottom: 4vh;
    padding-left: 4vh;
    padding-top: 1px;
    padding-bottom: 1px;
    color:white;
    font-size: 4vh;
}
#clasificaciones{
    font-size: 2.5vh;
    margin-left: 2vh;
    font-weight: bold;
}
button{
    margin: 5px;
    font-size: 2vh;
}
#productos{
    display: flex;
    flex-wrap: wrap;
}
.producto{
    width: 560px;
    height: 450px;
    background-color: burlywood;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 10px;
    margin: 10px;
    padding-right: 20px;
}
.name{
    font-weight: bold;
    font-size: 40xp;
}
.expo{
    display: flex;
    height: 390px;
    font-size: 2vh;
}
img{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}   
data{
    width: 180px;
    height: 310px;
    margin-left: 20px;
    margin-right: 10px;
    height: 340px;
}
#contra{
    margin-top: -4vh;
    margin-left: -1vh;
    margin-right: -1vh;
    padding-left: 2vw;
    padding-bottom: 1vh;
    background-color: black;
    color: white;
    font-size: 2vh;

}